.brand-logo {
    line-height: 64px;
}

.brand-logo-image {
    width: 130px;
    vertical-align: middle;
}

.loginButton {
    float:right;
}

.delete-action {
    cursor: pointer;
    display: inline-block;
}

#main-container .btn {
    text-transform: none;!important;
    padding: 0 1.2rem;
}

#map { height: 500px; width: auto;}
