.brand-logo {
    line-height: 64px;
}

.brand-logo-image {
    width: 130px;
    vertical-align: middle;
}

.loginButton {
    float:right;
}

.delete-action {
    cursor: pointer;
    display: inline-block;
}

#main-container .btn {
    text-transform: none;!important;
    padding: 0 1.2rem;
}

#map { height: 500px; width: auto;}

#calendar .day {
    text-align: center;
}

#calendar .day.selectable {
    cursor: pointer;
}

#calendar .day.selected {
    border: 1px;
    background-color: #DEDEFF;
    border-color: #CCCCCC;
}

#calendar #today {
    font-weight: bold;
}

.calendarButton {
    cursor:pointer;
}

#calendar .week-row {
    background-color: #efefef;
}

.hidden {
    display: none;
}

.filled {
    background-color: #A5D6A7;
}

.home-slider {
    display:block;
    margin:auto;
}

.home-slider-container {
    position:relative;
}

.select-error {
    color: darkred;
    margin-bottom: 30px;
}